

 
  
 

  
    .logoIcon{
      height: 20px;
      width: 20px;

    }

    .backIcon{
      height: 20px;
      width: 20px;


    }

    .top-bar-container{
      justify-content: space-between;

    }